<f:cObject typoscriptObjectPath="lib.ivw" />
<div class="fullWrap">
	<div class="pageWrap">
		<div class="contentWrap">
			<div class="thiSuper">
				<f:cObject typoscriptObjectPath="lib.superbanner" />
			</div>
			<div class="contentSpace">
				<f:render partial="Header" />
				<f:render section="content" />
				<f:render partial="Footer" />
				<noscript><div class="hidden"></noscript>
				<div class="scroll">
					<span class="scrollText">scroll</span><br />
					<span class="scrollIcon">&gt;</span>
				</div>
				<noscript></div></noscript>
			</div>
		</div>
		<div class="thiSky">
			<f:cObject typoscriptObjectPath="lib.skyscraper" />
		</div>
	</div>
</div>
<f:cObject typoscriptObjectPath="lib.cookieBar" />